<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGroup">
        <fieldset>
          <div class="form-group">
            <label ><span class="req">* </span> FirstName: </label>
            <input class="form-control" type="text"  name="tenDanhMuc" formControlName="categoryfirstName" />
          </div>

          <div class="form-group">
            <label ><span class="req">* </span> LastName: </label>
            <input class="form-control"  type="text"  name="tenDanhMuc" formControlName="categorylastName"  />
          </div>



          <div class="form-group">
            <button (click)="edit()"  class="btn btn-primary">Update</button>
          </div>
        </fieldset>
      </form>

    </div>

  </div>
